# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Environment variables
.env

# Conda environment files
environment.yml

# Logs
*.log
logs/
*.tmp
*.temp

# Build artifacts
build/
dist/
*.egg-info/

# IDE-specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db