# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/
.env/  # In case it's a folder

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Logs and temp files
*.log
*.tmp

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db
